%footer
  %p.pull-right
    %a( href="#")
      返回顶部
  -#%p.text-success.pull-left
  -#  :javascript
  -#    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000204582'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000204582%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
  %p.text-center
    Copyright ©2013 agoagirl.com All Rights Reserved. 京ICP备*****号