%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header(style=" width:10%")
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", 'type '=> "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h3(style="margin:0px" )
        %span.navbar-brand.glyphicon.glyphicon-ok-circle
        %span.navbar-brand(style="padding-left:25px" )= link_to '活动通', root_path
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
